{%extends 'base.html'%}
{% include 'nav.html'%}
{%block body%}

<div class="row text-center m-3 p-5">
    <h1 class="mb-4">About NewsToday</h1>
    <hr>
    <div class="col-md-6">
        <img class="w-100" src="{{url_for('static',filename='assets/news2.jpg')}}" alt="Image of Nairobi">
    </div>
    <div class="col-md-6 p-5">
        <p>We bring you the latest and accurate news coverage from sources around the world.
            We keep you updated 24/7 on what is happening in various parts of the world.
        </p>
        <p>NewsToday Digital is the world leader in online news and information and seeks to inform, 
            engage and empower the world. Staffed 24 hours, seven days a week by a dedicated team in 
            NewsToday bureaus around the world, NewsToday's digital platforms deliver news from almost 
            4,000 journalists in every corner of the globe.
    </div>

</div>
{%endblock%}