{%extends 'base.html'%}

{%block body%}
<div>
    {% include 'nav.html'%}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 p-3">
            <h1>Welcome to NewsToday</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error laudantium odio culpa ipsum minus,
                itaque eaque. Dolores optio distinctio praesentium. Sunt exercitationem inventore delectus. Culpa ipsum
                nisi officiis modi?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro error laudantium odio culpa ipsum minus,
                itaque eaque. Dolores optio distinctio praesentium. Sunt exercitationem inventore delectus. Culpa ipsum
                nisi officiis modi?
            </p>
            <img class="w-100" src="{{url_for('static',filename='assets/news.jpg')}}" alt="Image of Nairobi">
        </div>
        <div class="col-md-4 mt-3">
            {%include 'content.html'%}
        </div>
    </div>

</div>


{% endblock %}