{%extends 'base.html'%}

{%block body%}
<div>
    {% include 'nav.html'%}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 p-3">
            <h1>Welcome to NewsToday</h1>
            <hr>
            <p>We're impartial and independent, and every day we create distinctive, 
                world-class programmes and content which inform, educate and entertain 
                millions of people in the UK and around the world. 
            </p>
            <p>It's a responsibility shared by every employee at NewsToday, 
                from our headquarters to our broadcast centres. In all our bureaus around 
                the world, we strive to deliver content that captivates, informs, inspires and entertains.
            </p>
            <img class="w-100" src="{{url_for('static',filename='assets/news.jpg')}}" alt="Image of Nairobi">

            {%include 'headlines.html'%}
            {% include 'subscribe.html'%}
            {% include 'kenya.html'%}
        </div>

        <div class="col-md-4 mt-3">
            <h4>Top Sources</h4>
            {%include 'sources.html'%}
        </div>
    </div>
</div>
{% endblock %}