{%extends 'base.html'%}

{%block body%}
<div>
    {% include 'nav.html'%}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to NewsToday</h1>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text">
                      <h6>News Title</h6>
                      <p>News Text</p>
                  </p>
                </div>
              </div>
        </div>
        </div>

</div>




{% endblock %}